/*font-family: 'Playfair Display', serif;
font-family: 'Anton', sans-serif;
font-family: 'Ubuntu', sans-serif;*/

body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

/* Comienzo Portada */	

.background {
	background-image: url('../img/background1.jpg');
	width:100%;
	background-size:cover;
	background-position: 50% 50%;
}

.header {
  position: relative;
}

.contenedor {
	width: 1024px;
	margin: auto;
}
.logotipo {
  display: inline-block;
  margin-left: 0;
}

.menu {
  font-size: 18px;
  display: inline-block;
  position: absolute;
  margin-top:30px;
  right: 0;
}

.menu li {
	display: inline;
	padding: 0px 15px;
}

.menu a {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:800;
	color: #fff;
	font-weight:800;
	text-decoration: none;
}

.menu a:hover {
    color: #005BDF;
	text-decoration: underline;
}

.menu a:active {
    color: #C0C0C0;
	text-decoration:underline;
}

.banner {
	color: white;
	font-family: 'Playfair Display', Helvetica, Arial, sans-serif;
	font-size: 30px;
	text-align:left;
	padding: 30px 0;
	line-height: 45px;
}

.bannersub{
	font-family: 'Playfair Display', Helvetica, Arial, sans-serif;
	color: white;
	font-size: 20px;
	padding: 30px 0;
}

.titulo-productos{		
     width: 700px;
	 height: 250px;
     position: relative;
     margin: 0 auto 20px;
}

h1 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 34px;
	margin-top: 50px;
	margin-bottom:15;
	font-weight:800;
	text-align: center;
} 

.container
{
	text-align:center;
}

.line {
	border: 1px solid #FF1C1F;
	width:200px;
	margin:0 auto;
}

h3 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height:32px;
	margin-top: 40px;
	margin-bottom:40;
	font-weight:300;
	text-align: center;
} 
/* Final Portada */

/* Comienzo Carrusel */
.carrusel {		
     width: 200px;
     height: 250px;
     position: relative;
     margin: 0 auto 40px;
     perspective: 2100px;
     margin-bottom: 100px;
}

.contenedor p {
	font-size: 15px;
	line-height: 20px;
	text-align: left;
}

/* Tamaño Carrusel */  
#carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      transform: translateZ( -288px );
      transform-style: preserve-3d;
      transition: transform 1s;
}
/* Fin Tamaño Carrusel */

#carousel img{
    display: block;
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10px;
    top: 10px;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0;
}

#carousel img:nth-child(1) {
          transform: rotateY(   120deg ) translateZ( 250px );
         }
#carousel img:nth-child(2) {
          transform: rotateY(  240deg ) translateZ( 250px );
         }
#carousel img:nth-child(3) {
          transform: rotateY(  360deg ) translateZ( 250px );
         }
            

/*Movimiento del carrusel*/
#carousel {
          animation: rotateInY 30s infinite linear;
          }
          @keyframes rotateInY {
        	0%   { transform: translateZ(-288px) rotateY(0deg);   }
         	100% { transform: translateZ(-288px) rotateY(360deg);    }
}
/*Final Movimiento del carrusel*/         
/*Final Carrusel */

/* Línea */
hr {
	border: 2px solid #EAEDED;
	border-radius: 300px/10px;
	margin-top: 20px;
	margin-right: 30px;
	margin-left: 30px;
}

/*Comienzo productos*/
#descripcion h2 {
	font-family: 'Ubuntu', sans-serif;
	margin-top: 80px;
	margin-bottom: 60px;
	font-size: 35px;
}

#descripcion p {
	margin-bottom: 30px;
}

#descripcion a {
	text-decoration: none;
	background-color: #E5E8E8;
	padding: 6px 15px;
	color:black;
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 17px;
}

.producto {
 	display: inline-block;
    width: 300px;    
    text-align: center;
    padding: 15px;
    margin: 2px;
    border: 1px solid #fcfccc;
    border-radius: 5px;
}

.producto img {
    height: 300px;
    width: 300px;
    background-color: #f5f6f6;
 	display: block;
	margin:0 auto;
}
.producto p {
    padding: 10px;
    margin-top: -10px;
}
/*Final productos*/

/*Comienzo del footer*/
.footer {
	background-image: url(../img/background4.jpg);
	background-size:cover; 
  background-position: 50% 50%;
  width:100%;
}

.formulario {
	margin-left: 110px;
	padding: 20px;
	display: flex;
	width: 600px;
	color: white;
	margin-right: 150px;
	flex-wrap: nowrap;
}

.contacto img {
	margin-top: 120px;
	margin-left: 120px;
	width: 250px;
}

.contacto p {
	color: white;
	margin-left: 100px;
}

.col1, .col2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col1 {
	margin-top: 90px;
	margin-left: -80px;
	margin-bottom: 60px;
	text-align: left;
}

.formulario input, textarea {
	margin-top: 10px;
	border-radius: 5px;
}

.col2 {
	align-items: flex-start;
	margin-top: 50px;
	margin-left: 30px;
}

.col2 .button {
  border-radius: 5px;
  border: none;
  color: white;
  padding: 7px 12px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  background: linear-gradient(to right, #fe344e, #ff7250);
}

.correo{
  border-radius: 5px;
border: 0;
  width: 210px;
  padding: 10px;
  font-size: 14px;
  background-color: rgba(0,0,0,0.5);
}

.correo a{
    color: white;
  	margin: 2px;
	display: center;
	text-decoration: none;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.formulario input, .sexo, .intereses {
  margin-bottom: 10px;
  display: inline;
}
/*Final del footer*/


/*Comienzo Página Precios*/
table {
  width: 100%;
}

th {
  background: #DC7633  ;
  color: white;
  padding: 10px 20px;
}

td {
  padding: 20px;
}

table, td, th {
  border: 1px solid #D35400;
  border-collapse: collapse;
  text-align: center;
}
  
input, textarea {
  outline: 0;
}

input:focus, textarea:focus {
  background: lightgray;
}
/*Final Página Precios*/

/*Comienzo media queries */
/*@media (min-width: 150px) and (max-width: 319px){
    
   .contact p{
    color:red;
   }

}*/

@media (min-width: 320px) and (max-width: 480px){

/*Comienzo  Portada*/
.background{
  background-size: cover;
}
.menu{
  display: initial;
}

.menu ul {
  width: 160px;
}

.logotipo{
  display: inline;
  margin-left: 15px;
}

.banner{
  font-size: 14px;
}

.bannersub{
  font-size: smaller;
}
/*Final Portada*/

/*Comienzo Carrusel*/
.carrusel{
  display: none;
}
.titulo-productos{
  width: 300px;
}
.titulo-productos h1{
  font-size: 20px;
}
.titulo-productos h3{
  font-size: 15px;
  text-align: left;
}
/*Final carusel*/

/*Comienzo productos*/
.contenedor{
  width: 100%;
  margin-left: 8px;
}
.hide{
  display: none;
}
/*Final contacto*/

/*Comienzo contacto*/
.footer{
  background-size: cover;
  width: 100%;
}
 .contacto img {
    width: 60%;
    margin-top: 50px;
    margin-left: 110px;
 }
  .sexo,.intereses{
    display: none;
 }
 .formulario{
  display: inline-block;
 }
 .col1{
  width: 150px;
 }
 textarea{
  width: 150px;
  margin-left: -120px;
 }
 .col2 .button{
  margin-left: -40px;
 }
 .col2 label{
  margin-left: -110px;
 }
 .correo{
  margin-left: -150px;
 }
}
/*Final Contacto */



/*Final media queries */
